#myMenuPermisos label{
    margin-left: 10px;
}
#myMenuPermisos [type="checkbox"]{
    margin-left: 25px;
}
#myMenuPermisos label:hover, #myMenuPermisos [type="checkbox"]:hover{
    cursor: pointer;
}